.backDrop{
position:fixed;
left:0;
top:0;
width:100%;
height:100vh;
background-color:rgba(0,0,0,0.5);
display:none;
animation: fade-in 1s ease-in-out ;
}
.backDrop.show{
    display: block;
}
.mymodal {
    position: fixed;
    width: 50%;
    top: 25vh;
    left: 25%;
    display:none;
    animation: fade-slide-down 2s ease-in-out ;
}
.mymodal.show{
    display: block;
}
.mymodal h2 .moviemodalClose{
    float: right;
    color:#000;
}
.movieImg {
    height:250px;
}
.movieImg img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
@keyframes fade-slide-down {
    0%{
        transform:translateY(-80px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}